<!doctype html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="canvas">
    <div class="header">
      <!-- <img width="80" style="float:right" src="{{ url_for('static', filename='scania-logo.png') }}"> -->
      {% block header %}{% endblock %}
      <nav>
        <!--
        {% for category in g.categories %}
        <div class="nav_unselected">
          {{ category }} hey
        </div>
        {% endfor %}
        <div class="nav_unselected">
          {{ g.current_category }}
        </div>
        -->
        <div class="nav_selected">
          <a href="/">Start</a>
        </div>
        <div class="nav_unselected">
          <a href="/ci-monitor">CI Monitor</a>
        </div>
        <div class="nav_unselected">
          <a href="/devops-team">DevOps Team</a>
        </div>
      </nav>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <div class="footer">
      <p>
        <center>
          <i>MarkdownCMS</i>
        </center>
      </p>
    </div>
  </div>
</body>
